/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #d3d3d3;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

h1, h2, h3 {
    color: #b0b0b0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #dfdfdf; /* Cambia el color del texto de tu nombre a un tono grisáceo */
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #696969;
    padding-bottom: 10px;
    color: #a9a9a9; /* Cambia el color del texto de "Ingeniero de Visión Artificial" */
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #b0b0b0;
}

p {
    font-size: 1.1rem;
    color: #a9a9a9;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #a9a9a9;
}

/* Header */
header {
    background-color: #2c2c2c;
    color: #d3d3d3;
    padding: 10px 0; /* Reduce el padding del encabezado */
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0; /* Reduce el margen superior del menú de navegación */
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px; /* Reduce el margen entre los elementos del menú */
}

header nav ul li a {
    color: #d3d3d3;
    text-decoration: none;
    font-weight: 500;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Ajustar el contenido para que no quede oculto detrás del encabezado fijo */
body {
    padding-top: 60px; /* Ajusta el padding-top para compensar el encabezado reducido */
}

/* Agregar margen superior a las secciones objetivo */
section {
    scroll-margin-top: 60px; /* Ajusta este valor según la altura del encabezado */
}

/* Estilos para la sección de introducción */
.intro {
    text-align: center;
    margin-bottom: 20px;
}