/* Estilos generales */
@font-face {
    font-family: 'FX300';
    src: url('fonts/FX300.ttf') format('truetype');
}

html, body {
    font-family: 'FX300', Arial, sans-serif;
    background-color: #1c1c1c;
    color: #d3d3d3;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido al inicio */
    align-items: flex-start; /* Alinea el contenido a la izquierda */
    padding: 20px;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #b0b0b0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #dfdfdf; /* Cambia el color del texto de tu nombre a un tono grisáceo */
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #696969;
    padding-bottom: 10px;
    color: #a9a9a9; /* Cambia el color del texto de "Ingeniero de Visión Artificial" */
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #b0b0b0;
}

p {
    font-size: 1.1rem;
    color: #a9a9a9;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #a9a9a9;
}

/* Estilos para el efecto de escritura */
.typing {
    white-space: pre-wrap;
    overflow: hidden;
    border-right: .15em solid #d3d3d3; /* Añade la barra vertical */
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #d3d3d3 }
}